<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" >

    <!-- Bootstrap link -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <!-- наследява заглавието -->
    <title>{% block title %}Default value{% endblock %}</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav>
      <a href="https://yasensotirov.dev/">https://yasensotirov.dev/</a>
      <p>nav here</p>
      <hr />
    </nav>

    {% block content %}
    <!-- слагат се само блокове -->
    {% endblock %}

    <footer>
      <hr />
      <p>Footer here</p>
    </footer>

    <!-- bootstrap script js, 'инсталирано' от зип файла-->
    <script src="/static/js/bootstrap.js"></script>
  </body>
</html>
