<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="/path/to/tailwind.css" rel="stylesheet">
  <title>{% block title %}Huddle{% endblock title %}</title>
</head>


<body class='bg-gray-700'>
  <nav class='py-4 px-8 bg-gray-500 text-white'>
      <h1 class='text-2xl font-bold'>Huddle</h1>
  </nav>
  
  <div class='p-8'>
    {% block content %}
      {% if messages %}
        {% for message in messages %}
          <div class='mb-4 py-4 px-6 bg-blue-500 text-white rounded-xl'>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endblock content %}
  </div>
  {% comment %} https://youtu.be/Uo9CE1MsT8E?t=1775 {% endcomment %}

</body>
</html>