{% extends "huddle/base.html" %}

{% block title %}Index page{% endblock title %}

{% block content %}
    <div class='pt-[200px]'>
        <div class='max-w-2xl mx-auto p-8 rounded-3xl text-center text-white bg-gray-800'>
            <h2 class='mb-6 text-2xl'>Join Huddle</h2>

            <form action="{% url 'huddle' %}" method='get' class='space-y-4'>
                <input type="email" name='user' class='w-full py-4 px-6 bg-gray-600 rounded-xl text-white' placeholder='Enter Your email address'/>
            
                <input type="text" name='key' class='w-full py-4 px-6 bg-gray-600 rounded-xl text-white' placeholder='Enter Huddle key'/>
            
                <button class='w-32 py-4 px-6 bg-blue-500 rounded-xl text-white'>Join</button>
            </form>
        </div>

    </div>
{% endblock content %}


