{% extends "base.html" %} {% block title %}Index{% endblock %} {% block content
%}
<h1>Index page</h1>

<ul>
  {% for person in people %}
  <li>
    {{ person }}
    <button onclick="deletePerson({{person.id_person}})">Delete</button>
  </li>
  {% endfor %}
</ul>

<h3>New Person</h3>
<form action="{{ url_for('index') }}" method="POST">
  <input type="text" name="name" placeholder="Name" required="required" /><br />
  <input type="number" name="age" placeholder="Age" required="required" /><br />
  <input type="text" name="job" placeholder="Job" /><br />
  <input type="submit" value="Create" />
</form>

<!-- script за бутона delete -->
<script type="text/javascript">
  function deletePerson(id_person) {
    fetch('{{ url_for("delete", id_person=id_person) }}' + id_person, {
      method: "DELETE",
    })
      .then((response) => {
        if (response.ok) {
          window.location.reload();
        } else {
          console.error("Failed to delete item with id: ", id_person);
        }
      })
      .cath((error) => {
        console.error("Error during fetching: ", error);
      });
  }
</script>

{% endblock %}

<!-- https://youtu.be/RUUmEOooKVo?list=PL7yh-TELLS1EyAye_UMnlsTGKxg8uatkM&t=1747 -->
