<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- project CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <!-- HEADER -->
        {% block core_header%}
        <h1>header</h1>
        {% endblock core_header%}

        <hr>
        <br>

        <!-- BODY -->
        {% block core_body%}
        <h1>body</h1>
        {% endblock core_body%}

        <hr>
        <br>
        <!-- FOOTER -->
        {% block core_footer%}
        <h1>footer</h1>
        {% endblock core_footer%}
    </div>
</body>
</html>
