{% extends "main/base.html" %}

{% block title %}Create New List{% endblock title %}

{% block content %}
  <h2>Create page</h2>  

  <form method="post" action="/create/">
    {% csrf_token %}
    {{ form.as_p }}
      
    <button type="submit", name="save">Create New</button>
  </form>
{% endblock content %}

{% comment %} 
form.as_table      - подрежда като таблица по подразбиране
form.as_p         - като отделни редове
form.as_ul        - като подточки 

{% csrf_token %}  - секюрити токен
{% endcomment %}