/* ВСИЧКО ЗА CSS 

https://softuni.bg/trainings/resources/video/57371/video-25-january-2021-antonia-atanasova-js-fundamentals-january-2021/3211

ВИДОВЕ СЕЛЕКТОРИ
	<tag>
	.class
	#id
*/





/* 0. ФОН */
body{
		background-color: #6bbfed;
		margin: 60px;
		margin-top: 20px;
		text-align: center;
	}
	
	
/* 1. ЗАГЛАВИЕ */
h1{
	border: 2px solid rgb(166, 13, 13);
	font-style: italic;
	font-family: Arial;
}



/* 2. КОНТЕЙНЕР  */
div{
	background-color: aliceblue;
}


/* 2.1. ПАРАГРАФИ В DIV */
div p{
	background-color: #f7f145;
	font-family: 'Trebuchet MS';
	padding: auto;
}


/* 3. ID*/
#id {
	text-decoration: overline;
}



/* 4. КЛАС */
.class{
	font-style: italic;
}



/* 5. ЛИНК */
h2 a{
	color: black;
	font-family: Helvetica;
}



/* 5.1. ЛИНК ОТВОРЕН */
/* h2 a:visited {
	color: rgb(255, 0, 0);
	font-style: italic;
} */



/* 6. ТЕКСТОВО ПОЛЕ */
textarea{
	border: 5px solid rgb(72, 67, 67);
	width: 500px;
	height: 150px;
}



/* 7. ФОРМА ЗА ПОДАВАНЕ НА ДАННИ */
form{
	border: 4px dashed yellow;
	background-color: #2378ad;
}



/* 7.1. ЕТИКЕТИ НА INPUT */
label{
	font-family: Verdana;
	font-size: 1.5cap;
}



/* 7.2. INPUT ПОЛЕТА */
input{
	border: 5px solid rgb(38, 35, 98);
}



nav ul li {               /* само за подредбата на линковете */
	display: inline-block;  /* от block в inline element */
	margin-right: 15px;
}
 

nav a {                   /* само за линковете */
    text-decoration: none;  /* маха подчертавката */
    font-family: Helvetica;
    color: rgb(202, 35, 74);
}


nav {                     /* за цялата навигация */
	background-color: #23ada1;
    padding: 5px;
}


button {
    border:  1px solid #808080;
    background:  #000000;
    font-size: 17px;
    text-transform: uppercase;
    padding: 5px;
    color: #808080;
    font-weight: bold;
}
