{% extends "base.html" %} 
{% block title %}JSON JS OBJECT{% endblock %}

{% block content %}

  <h2>JSON JS OBJECT</h2><br><br>

  <button id="post_button">Send POST request</button>

  <script type="text/javascript">
    const postButton = document.getElementById('post_button');
    const jsonData = {name: 'Yaskata', greetings: 'Hello you'};

    postButton.addEventListener('click', ()=> {
      fetch('{{ url_for("json_js")}}', {
        method: 'POST',
        headers: {'Content-Type': 'application/json; charset=utf-8'},
        body: JSON.stringify(jsonData)
      })
        .then(response => response.json())
        .then(data => console.log('Success:', data))
        .catch((error) => console.error('Error:', error))
    });

  </script>

{% endblock %}

<!-- name се ползва като key за key-value pair към json-a за подаване към backend-а -->
<!-- http://127.0.0.1:5000/file_upload -->