{% extends "base.html" %}
{% block title %}Index page{% endblock %}


{% block content %}

  <!-- prettier-ignore -->
    <h2>Hello Template</h2>
    <p>{{ paragraph }}</p>


    <!-- Jinja 2 For loop -->
    <ul>
      {% for el in nums %}
      <li>{{ el }}</li>
      {% endfor %}
    </ul>


    <!-- CONDITIONS -->
    <!-- https://youtu.be/w6Ui_DVxluc?list=PL7yh-TELLS1EyAye_UMnlsTGKxg8uatkM&t=498 -->
    <ul>
      {% for el in nums %} 
        <li {% if el == 30 %} style="color: red"{% endif %}>{{ el }}</li>
      {% endfor %}
    </ul>



    <!-- DYNAMIC URL -->
    <a href="{{ url_for('dynamic_url') }}">dynamic Url to filters</a>
    

    <!-- BUTTON ONCLICK -->
    <h3>Click the button to call a Python function</h3> 
    
    <form method="POST" action="/process"> 
        <button type="submit">Call Function</button> 
    </form> 
    <p>{{ result }}</p>




{% endblock %}

