{% extends "base.html" %} 
{% block title %}EXCEL RENDER{% endblock %}

{% block content %}

<h2>EXCEL CONVERT TO CSV</h2>
<form
  action="{{ url_for('excel_render')}}"
  method="POST"
  enctype="multipart/form-data"> <br>
  
  <input 
    type="file" 
    name="file" 
    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />

  <input 
    type="submit" 
    value="Upload File">
</form>

{% endblock %}

<!-- name се ползва като key за key-value pair към json-a за подаване към backend-а -->
<!-- http://127.0.0.1:5000/file_upload -->